body {
    background-color: blue;
    color: whitesmoke;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 140px;
    font-family: Elsie;
    margin: 15px 0px 35px 0px;
}

h2,
h3 {
    font-family: Righteous;
    font-size: 70px;
    margin: 50px 0px 50px 0px;
    letter-spacing: -1px;
    color: yellow;
    font-style: italic;
}

span {
    font-size: 60px;
    color: orange;
    font-family: Agbalumo;
    font-weight: lighter;
}

.img {
    border: 10px double darkblue;
    border-radius: 100px;
    margin: 10px 20px 10px 10px;
}

.txt {
    font-family: Agbalumo;
    margin: 0px 0px 30px 0px;
}

#bio {
    border: 3px solid black;
    border-radius: 50px;
    padding: 0px 10px 20px 10px;
    text-align: center;
    margin: 20px;
    background-color: black;
}

#bio p {
    font-size: 25px;
}

#pht {
    border: 3px solid black;
    margin: 0px 100px 50px 100px;
    border-radius: 60px;
    padding: 0px 10px 20px 10px;
    text-align: center;
    background-color: black;
}

#pht p {
    font-size: 25px;
}

#pht strong {
    color: red;
    font-size: 60px;
    font-family: Agbalumo;
    font-weight: lighter;
}

#photos {
    border: 5px solid black;
    border-radius: 70px;
    padding: 20px;
    margin: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

#photos p {
    font-size: 45px;
    color: greenyellow;
    font-weight: bolder;
}

#photos img {
    border: 5px solid white;
    border-radius: 100px;
    margin: 30px 0px -35px 0px;
}

footer {
    text-align: center;
    font-size: 45px;
    margin: 30px 0px 0px 150px;
    color: black;
    background-color: bisque;
    padding: 15px;
    font-family: Righteous;
    border: 2px solid black;
    border-radius: 100px;
    width: 1350px;
}

@media screen and (max-width: 1000px) {
    body {
        background-color: darkblue;
        font-size: 20px;
        color: white;
        width: 100%;
    }
}